@CHARSET "UTF-8";

table thead td,table thead th {
	background-image: url(../dojoAjax/tests/widget/images/ft-head.gif);
	background-repeat: no-repeat;
	background-position: top right;
}

table thead td.selectedUp,table thead th.selectedUp {
	background-image: url(../dojoAjax/tests/widget/images/ft-headup.gif);
}

table thead td.selectedDown,table thead th.selectedDown {
	background-image: url(../dojoAjax/tests/widget/images/ft-headdown.gif);
}


.paging {
	/*border: 1px solid;*/
	bottom: 0px;
	position: relative;
	right: 0px;
	text-align: right;
	width: 100%;
}

#currentTasksDetail{
	width: 90%;
	left: 20px;
	top: 20px;
	position: relative
}
#oldTasksDetail{
	width: 90%;
	left: 20px;
	top: 20px;
	position: relative
}