@CHARSET "UTF-8";
#Addcate div
{
	padding-top: 5px
}
#Addorg div
{
	padding-top: 5px
}
#Adddept div
{
	padding-top: 5px
}
#Addpost div
{
	padding-top: 5px
}
#Editcate div
{
	padding-top: 5px
}
#Editorg div
{
	padding-top: 5px
}
#Editdept div
{
	padding-top: 5px
}
#Delcate div
{
	padding-top: 5px
}
#Delorg div
{
	padding-top: 5px
}
#Deldept div
{
	padding-top: 5px
}
#Delpost div
{
	padding-top: 5px
}